body {
    margin: 0;
    padding: 0;
    background-color: #b3b3b3;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 800px;
    height: 550px;
    margin: 50px auto;
    background-color: #b3b3b3;
}

.box {
    position: absolute;
    width: 150px;
    height: 80px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Màu sắc & vị trí */
.m1 {
    background-color: #66aa22;
    top: 100px;
    left: 50px;
}

.m2 {
    background-color: #008800;
    top: 20px;
    left: 325px;
}

.m3 {
    background-color: #33bbf2;
    top: 100px;
    right: 50px;
}

.m4 {
    background-color: #990022;
    top: 240px;
    right: 50px;
}

.m5 {
    background-color: #e6007e;
    bottom: 50px;
    left: 325px;
}

.m6 {
    background-color: #0055ff;
    top: 240px;
    left: 50px;
}

/* Khối trung tâm */
.center {
    position: absolute;
    top: 200px;
    left: 325px;
    width: 150px;
    height: 80px;
    background-color: #ffe0b3;
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}