* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gray;
}

body {
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar main-content main-content"
        "sidebar section1 section2"
        "sidebar section3 section4"
        "footer footer footer";
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.navbar {
    grid-area: navbar;
    background: lightgray;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.sidebar {
    grid-area: sidebar;
    background: blue;
    padding: 40px;
    border-radius: 10px;
}

.main-content {
    grid-area: main-content;
    background: rgb(236, 221, 221);
    padding: 40px;
    border-radius: 10px;
}

.section1 {
    grid-area: section1;
    background: #f44336;

    padding: 40px;
    border-radius: 10px;
}

.section2 {
    grid-area: section2;
    background: purple;

    padding: 40px;
    border-radius: 10px;
}

.section3 {
    grid-area: section3;
    background: orange;

    padding: 40px;
    border-radius: 10px;
}

.section4 {
    grid-area: section4;
    background: rgb(82, 72, 72);
    padding: 40px;
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    background: lightgray;

    text-align: center;
    padding: 40px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "navbar"
            "main-content"
            "sidebar"
            "section1"
            "section2"
            "section3"
            "section4"
            "footer";
        grid-template-columns: 1fr;
    }
}